body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2e2e;
}

.container {
    background-color: #3a2d49;
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3a2d49;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #bb86fc;
}

.menu-bar {
    background-color: #3a2d49;
    color: #bb86fc;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-bar a:hover {
    background-color: #bb86fc;
    border-radius: 5px;
}

.grid-container {
    margin-top: 70px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(17, 100px);
    gap: 10px;
    justify-content: center;
}

.grid-item {
    width: 100px;
    height: 133px;
    background-color: #ccc;
    /*border-radius: 15px; This is a single-line comment */
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media only screen and (min-width: 0px) and (max-width: 230px){
    .grid-container{
        grid-template-columns: repeat(1, 100px);
    }
}

@media only screen and (min-width: 231px) and (max-width: 340px){
    .grid-container{
        grid-template-columns: repeat(2, 100px);
    }
}

@media only screen and (min-width: 341px) and (max-width: 450px){
    .grid-container{
        grid-template-columns: repeat(3, 100px);
    }
}

@media only screen and (min-width: 451px) and (max-width: 560px){
    .grid-container{
        grid-template-columns: repeat(4, 100px);
    }
}

@media only screen and (min-width: 561px) and (max-width: 670px){
    .grid-container{
        grid-template-columns: repeat(5, 100px);
    }
}

@media only screen and (min-width: 671px) and (max-width: 780px){
    .grid-container{
        grid-template-columns: repeat(6, 100px);
    }
}

@media only screen and (min-width: 781px) and (max-width: 890px){
    .grid-container{
        grid-template-columns: repeat(7, 100px);
    }
}

@media only screen and (min-width: 891px) and (max-width: 1000px){
    .grid-container{
        grid-template-columns: repeat(8, 100px);
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1110px){
    .grid-container{
        grid-template-columns: repeat(9, 100px);
    }
}

@media only screen and (min-width: 1111px) and (max-width: 1220px){
    .grid-container{
        grid-template-columns: repeat(10, 100px);
    }
}

@media only screen and (min-width: 1221px) and (max-width: 1330px){
    .grid-container{
        grid-template-columns: repeat(11, 100px);
    }
}

@media only screen and (min-width: 1331px) and (max-width: 1440px){
    .grid-container{
        grid-template-columns: repeat(12, 100px);
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1550px){
    .grid-container{
        grid-template-columns: repeat(13, 100px);
    }
}

@media only screen and (min-width: 1551px) and (max-width: 1660px){
    .grid-container{
        grid-template-columns: repeat(14, 100px);
    }
}

@media only screen and (min-width: 1661px) and (max-width: 1770px){
    .grid-container{
        grid-template-columns: repeat(15, 100px);
    }
}

@media only screen and (min-width: 1771px) and (max-width: 1880px){
    .grid-container{
        grid-template-columns: repeat(16, 100px);
    }
}

@media only screen and (min-width: 1881px){
    .grid-container{
        grid-template-columns: repeat(17, 100px);
    }
}